PORT=
DATABASE_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
SECRET

# Real SMTP (production)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
MAILER_FROM=

# Ethereal (development/testing)
MAILER_TRANSPORT_HOST=
MAILER_TRANSPORT_PORT=
MAILER_TRANSPORT_SECURE=
MAILER_EMAIL=
MAILER_PASSWORD=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY_DAYS=30d
SERVICE_ACCOUNT=
CLIENT_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CHAT_WONDER_API_URL=
CHAT_WONDER_WS_URL=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_REGION=
CLOUDFRONT_URL=
_REGION=
CLOUDFRONT_URL=